{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["jsx-a11y", "prettier"],
  "rules": {
    "no-alert": "off",
    "no-shadow": "off",
    "no-unused-prop-types": "off",
    "no-console": "off",
    "no-use-before-define": "off",
    "no-param-reassign": "off",
    "semi": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": [
      "error",
      {
        "semi": true
        // "tabWidth": 4
      }
    ]
  }
}
