@mixin flex(
  $flexDirection,
  $flexDirection,
  $justifyContent,
  $alignItems,
  $flexWrap: "wrap"
) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $flexWrap;
}

@mixin linkReset($linkColor) {
  text-decoration: none;
  color: $linkColor;
}

@mixin fitImage() {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@mixin listReset($margin: 0, $padding: 0) {
  list-style-type: none;
  margin: $margin;
  padding: $padding;
}

@mixin setPosition($positionType, $top, $right, $bottom, $left) {
  position: $positionType;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
