@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap");

$fontSize: 14px;
$backgroundColor: #fff;
$fontFamily: "Montserrat", sans-serif;

$darkBlue: #173f5f;
$lightBlue: #20639b;
$green: #3caea3;
$yellow: #f6d55c;
$orange: #ed553b;
$white: #fff;
$black: #2e2e2e;

$box_shadow: 4px 6px 12px -2px rgba(0, 0, 0, 0.3);
